* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Acari-Sans-Medium';
    src:url('Acari-Sans-Medium.ttf.woff') format('woff'),
        url('Acari-Sans-Medium.ttf.svg#Acari-Sans-Medium') format('svg'),
        url('Acari-Sans-Medium.ttf.eot'),
        url('Acari-Sans-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #EDEDE9; 
}

main {
    flex: 1;
}

#mainImg {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

#mainImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: rgb(68, 68, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.nav-links a:hover {
    background: #cbc0b5;
    border-radius: 5px;
}

/* HAMBURGER MENU */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div {
    width: 30px;
    height: 4px;
    background: white;
    margin: 4px;
    transition: 0.3s;
}

footer {
    background-color: #D6CCC2;
}

h1 { 
   font-family: 'Acari-Sans-Medium';
   font-size: 48px;
}  

h2 {
    font-family: 'Acari-Sans-Medium';
    font-size: 36px;
}

h3 {
    font-family: 'Acari-Sans-Medium';
    font-size: 24px;
}

p {
    font-size: 12px;
}   

#mainPage {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    gap: 20px;
    padding: 20px;
}

.intro-section {
    position: relative;
    left: 25%;
    display: flex;
    align-items: flex-start; /* Align to the top of the container */
    margin: 50px 0px;
    padding: 20px;
    border-radius: 8px;
}

.intro-section .title-decoration {
    width: 8px;
    height: 40px;
    background-color: #D2867A; /* Color of the rectangle decor */
    margin-right: 20px;
}

#intro h1 {
    font-family: 'Acari-Sans-Medium';
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}

#intro p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px; 
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-top: 10px;
    max-width: 800px; 
}

/* The boxes on Index.html */

.box {
    padding: 30px 20px;
    min-height: 220px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px; /* Adds space between boxes */
}

.box h2 {
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 15px;
}

.box button {
    background: #EDEDE9;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.box button:hover {
    background: #dededa;
}

.box:nth-child(1) {
    background-color: #C59686;
}

.box:nth-child(2) {
    background-color: #D2867A;
}

.box:nth-child(3) {
    background-color: #D39560;
}

/* contact pagina */

#contactBox {
    background-color: #C59686;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    height: 70vh;
    margin: 40px auto; /* Centers the box */
}

#contactBox h2 {
    margin-bottom: 15px;
    color: #333;
}

#contactBox p {
    margin: 8px 0;
    font-size: 16px;
    color: #555;
}

@media (min-width: 768px) {
    #mainPage {
        flex-direction: row;
        justify-content: center;
        align-items: stretch; /* Ensures equal height rows */
    }

    .box {
        width: 30%;
        height: auto;
    }

    .navbar {
        background: rgba(214, 204, 194, 0.25); 
    }


}

/* RESPONSIVE MOBILE */
@media (max-width: 767.98px) {
    main {
        margin-top: 0px;
    }

    /* Bigger boxes on phone */
    .box {
        width: 100%;
        max-width: none;
        min-height: 400px;
        padding: 40px 25px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .box h2 {
        font-size: 36px;
    }

    .box p {
        font-size: 22px;
    }

    .box button {
        font-size: 22px;
        padding: 12px 20px;
    }

    .navbar {
        background: rgba(214, 204, 194, 1); 
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #D6CCC2;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    /* Hide hero image on mobile */
    #mainImg {
        display: none;
    }
}